<div class="nav-icons">
  <p><%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, tracktions_path %></p>
</div>

<h1><%= @type.amount_type %></h1>
<h4>Total - <%= @type.tracktions.sum(:amount) %></h4>

<div class="view-display">
  <%= render 'list_transactions' %>
</div>
