<div class="nav-icons">
  <p> <%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, groups_path %> </p>
</div>
<h1>New Group</h1>

<%= render 'form', group: @group %>

<%= link_to 'Back', groups_path %>

<p class='disclaimer'>* To add a new icon, visit<a href="https://fontawesome.com/">Font Awesome,</a>find the icon you wish to use, and copy the provided html code into the new icon text field</p>
