<%= form_tag sessions_path, class: 'form container' do |form| %>
  <%= label_tag :name, "What name are your transactions under?" %>
  <div class='actions'>
    <%= text_field_tag :name %>
    <%= submit_tag('login') %>
  </div>
<% end %>
