<p id="notice"><%= notice %></p>

<div class="nav-icons">
  <p><%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, user_path(@user) %></p>
</div>

<main class="container">
  <h1>Tracker Keeper</h1>
  <br>
  <%= render 'users_list' %>
</main>
