<div class="nav-icons" style='top:5px'>
  <p> <%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, root_path %> </p>
</div>
<div class="splash">
    <br>
    <h1>Sign Up</h1>
    <%= render 'form', user: @user %>
</div>
