<p id="notice"><%= notice %></p>
<div class="user-show">
  <%= date %>
  <%= greeting %>
  <div class='new-transaction-button'>
    <div>
      <a href="/transactions/new"><span>New Transaction</span></a>
    </div>
  </div>
</div>








<!-- <br /> -->
<%# @day_of_week = "Monday" %>
<%# select_tag :days, options_for_select([@transactions_test.name, "Tuesday"]), :id => "select_days" %>
<!-- <div id="text_to_be_changed"> -->
  <%# @something %>
  <!-- </div> -->
  <!-- <div class="number_to_be_changed"><%# @click %></div>
    <%# link_to 'Click Here Next', '#',
    :onclick => "", id: 'clickHereNext' %> -->
    <!-- <br /> -->
