<p id="notice"><%= notice %></p>
<div class="user-show">
  <%# features to be added later - timezones are only server side at the moment %>
  <%# date %>
  <%# greeting %>

  <h1><%= "Hello #{@user.name}" %></h1>

  <div class='new-transaction-button'>
    <div>
      <a href="/transactions/new"><span>New Transaction</span></a>
    </div>
  </div>
</div>
