<p id="notice"><%= notice %></p>
<div class="user-show">
  <%= date %>
  <%= greeting %>
  <%= DateTime.now %>
  <div class='new-transaction-button'>
    <div>
      <a href="/transactions/new"><span>New Transaction</span></a>
    </div>
  </div>
</div>
