<p id="notice"><%= notice %></p>
<div class="user-show">


  <h1><%= "Hello #{@user.name}" %></h1>

  <div class='new-transaction-button'>
    <div>
      <a href="/tracktions/new"><span>New Transaction</span></a>
    </div>
  </div>
</div>
