<p id="notice"><%= notice %></p>

<div class="nav-icons">
  <p></p>
  <p> <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_user_path(@user) %></p>
</div>

<div class="user-show">
  <br>
  <h1><%= "Hello #{@user.name}" %></h1>
  <div class='new-transaction-button'>
    <div>
      <a href="/tracktions/new">
        <span>New Transaction</span>
      </a>
    </div>
  </div>
</div>
