<div class="nav-icons">
<p> <%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, tracktion_path(@tracktion) %> </p>
</div>
<h1>Editing Tracktion</h1>

<%= render 'form', tracktion: @tracktion %>

<%= link_to 'Show', @tracktion %> |
<%= link_to 'Back', tracktions_path %>
