<div class="nav-icons">
  <p> <%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, tracktions_path %> </p>
</div>
<h1>New Tracktion</h1>

<%= render 'form', tracktion: @tracktion %>

<%= link_to 'Back', tracktions_path %>
