/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
  --background: #7d5e82;
  --font: #053225;
  --link: #f7f7f2;
  --hover: #9c914f;
  --notice: #91bf8a;
}

* {
  box-sizing: border-box;
  text-align: center;
  // border: 1px solid #e4572e;
}

input {
  text-align: left;
}

html {
  background: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-top: 25px;
  // overflow-y: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

h1 {
  color: var(--font);
  font-size: 3rem;
  line-height: 65px;
  margin: 25px 15px 15px;
  padding: 0;
  text-align: center;
  word-wrap: break-word;
}

h2 {
  color: var(--font);
  margin-top: 35px;
  margin-bottom: -10px;
  text-align: center;
  font-size: 3em;
  line-height: 50px;
}

h3 {
  color: var(--font);
  font-size: 2em;
  text-align: center;
  line-height: 25px;
}

h4 {
  font-size: 1.5em;
  text-align: center;
  margin-top: 0;
}

a {
  color: var(--link);
  font-weight: bold;
  margin: 10px;
  white-space: nowrap;
}

a:hover {
  color: var(--hover);
}

a:visited {
  color: var(--notice);
}

table {
  margin-bottom: 25px;
}

.user_buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 75px;
  width: 90vw;
  text-align: center;
  margin-top: -35px;
  overflow-wrap: normal;

}

.fab,
.fas {
  font-size: 2em;
  margin: 10px 5px;
}
