// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.icon-box {
  margin: 25px 0;
  width: 66vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.group-show-icon {
  margin-top: -15px;
}

.disclaimer {
  width: 75vw;
}

.new-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 20px;

  .fas {
    position: relative;
    font-size: 3.5em;
  }

  span {
    display: none;
    font-size: 15px;
    color: black;
  }

  .fas:hover {
    span {
      display: block;
      position: absolute;
      top: 10px;
      left: 50px;
      // right: 5px;
    }
  }
}
