body {
  margin: 0 33px 33px;
  width: 100vw;
  background: var(--background);
  // background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(125,94,130,1) 100%); my background choice
}

body,
ol,
p,
td,
ul {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
  text-align: center;
}

div.actions,
div.field {
  margin-bottom: 10px;
}

#notice {
  color: var(--notice);
  position: absolute;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  max-width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  align-self: center;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}
