// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.form {
  font-size: 15px;
  font-weight: bold;
  text-align: center;

  .actions {
    margin-top: 15px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    input[type=submit] {
      margin: 5px;
    }
  }
}
