// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
form {
  // border: 1px solid black;
}

.row-container {
  display: flex;
  padding-left: 83px;
}

.amount-field {
  position: relative;
}

// .add-type {
//   position: absolute;
//   white-space: nowrap;
// }

.add-type {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // margin-top: -10px;
  // margin-bottom: 20px;

  .fas {
    position: relative;
    font-size: 1.5em;
  }

  span {
    display: none;
    font-size: 15px;
    color: black;
  }

  .fas:hover {
    span {
      display: block;
      position: absolute;
      top: 0;
      left: 25px;
      // right: 5px;
    }
  }
}

.transactions {
  padding: 25px;
}
