// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.row-container {
  display: flex;
  padding-left: 83px;
}

.amount-field {
  position: relative;
}

.add-type {
  .fas {
    position: relative;
    font-size: 1.5em;
  }

  span {
    display: none;
    font-size: 15px;
    color: black;
  }

  .fas:hover {
    span {
      display: block;
      position: absolute;
      top: 0;
      left: 25px;
    }
  }
}

.new-transaction {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  z-index: 1;
  background-color: var(--link);

  a {
    display: flex;
    width: 75%;
    border: 1px solid white;
    justify-content: center;

    .fas {
      position: relative;
      font-size: 3.5em;
      z-index: 1;
      color: white;
    }
  }

  a:hover {
    text-decoration: none;
  }

  span {
    display: none;
    font-size: 15px;
    color: black;
  }

  .fas:hover {
    span {
      display: block;
      position: absolute;
      top: 10px;
      left: 50px;
    }
  }
}

.trans-totals {
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
}

.collection-check-box {
  display: flex;
}

.transactions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 90vw;
  @media (min-width: 920px) {
    width: 60vw;
  }
}

.new-transaction-button {
  border: 1px solid rgb(226, 226, 226);
  background-color: var(--link);
  min-width: 75px;
  line-height: 50px;
  margin: 25px;
  padding: 15px;

  a {
    display: block;
    text-align: center;
    border: 1px solid white;
    min-width: 250px;

    span {
      color: var(--font);
      font-size: 1.25rem;
    }
  }

  a:hover {
    text-decoration: none;
  }

  div:hover {
    opacity: 0.5;
    transform: scale(0.95);

    span {
      color: black;
    }
  }
}

.sum-totals {
  margin-top: 15px;
}
