// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.splash {
  width: 80vw;
  height: 80vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 25px;

  label {
    margin-bottom: 35px;

  }

  .sign-up {
    color: blue;
  }

  @media (min-width: 920px) {
    width: 60vw;
  }
}

.new-user {
  @extend .splash;
}

.user-show {
  padding: 15px;

  .transactions {
    // flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 90vw;
    @media (min-width: 920px) {
      width: 60vw;
    }
  }

  .new-transaction-button {
    border: 1px solid white;
    background-color: var(--link);
    min-width: 75px;
    line-height: 50px;
    margin: 25px;
    padding: 15px;

    div {
      border: 1px solid white;

      span {
        // display: none;
        color: var(--font);
        font-size: 1.25rem;
      }

    }

    div:hover {
      opacity: 0.5;
      transform: scale(0.95);

      span {
        color: black;
      }

    }
  }

}

.burger-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  outline: none;

  .burger-links {
    // display: none;
    position: absolute;
    height: fit-content;
    top: -15px;
    left: 25px;
    font-size: 1rem;
    width: 50px;
    // right: -25px;
    a {

      // white-space: normal;
    }
  }
}

// .burger-menu:focus {
//   .burger-links {
//     // display: block;
//   }
// }

.account-menu {
  // border: 5px solid green;
  border-radius: 50%;
  outline: none;
  position: relative;
  display: flex;
  flex-direction: column;

  .profile-pic {
    width: 75px;
    border-radius: 50px;
  }

  .profile-pic:focus {
    // border: 5px solid blue;
    // outline: none;
  }

  .profile-pic:active {}

  .account-links {
    // display: none;
    position: absolute;
    height: fit-content;
    top: 15px;
    right: 75px;
    // font-size: 1rem;
  }

  // .account-menu:focus {
  // border: 5px solid orange;
  .ac-hidden {
    display: none;
  }

  .ac-visible {
    display: block;
    // transition: ease-in-out, width 0.35s ease-in-out;
  }
}

.date {
  // border: 1px solid black;
  text-align: right;
}
