// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.splash {
  width: 80vw;
  height: 80vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 25px;

  label {
    margin-bottom: 35px;

  }

  .sign-up {
    color: blue;
  }

  @media (min-width: 920px) {
    width: 60vw;
  }
}

.new-user {
  @extend .splash;
}

.user-show {
  padding: 15px;

  .transactions {
    // flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 90vw;
    @media (min-width: 920px) {
      width: 60vw;
    }
  }
}
