<div class='transactions'>
  <div class='new-transaction'>
 <h1>Transactions</h1>
 <a href="/transactions/new"><i class="fas fa-plus-square"><span>New Transaction</span></i></a>
</div>
  <div class="assigned">
    <h4>Assigned Transactions</h4>
    <%= render 'assigned_transactions', @assigned_type_sums %>
  </div>

  <div class="unassigned">
    <h4>Unassigned Transactions</h4>
      <%= render 'unassigned_transactions', @unassigned_type_sums %>
  </div>
</div>
